<div class="flex justify-content-center position-absolute w-full" style="position: absolute">
    <img src="favicon.ico" width="7%" alt="logo">
</div>

<div class="flex justify-content-end position-absolute w-full p-4" style="position: absolute">
    <div class="grid gap-2">
        <p-button (click)="loginSignupClicked('Log in')" [style]="{background: 'black', color: 'white'}" label="Log in"></p-button>
        <p-button (click)="loginSignupClicked('Sign up')" [style]="{background: 'white', color: 'var(--primary-color)'}" label="Sign up"></p-button>
    </div>
</div>

<div class="landing">
    <div class="create-event landing-background flex align-items-center justify-content-center">
        <div class="container p-4" style="background: white">
            <h2>Browse by entering your address</h2>
            <span class="flex flex-column gap-2 text-color-primary w-full">
                <label for="username">Enter event address</label>
                <input pInputText id="username"/>
            </span>
            <p-button [routerLink]="'/app/dashboard'" label="Get started" icon="pi pi-arrow-right" iconPos="right"></p-button>
        </div>
    </div>

    <div class="continue-with-address flex align-items-center justify-content-center">
        <div class="container p-4 landing-background">
            <h2 style="color: white">Get started by creating an event</h2>
            <div class="create-event-form">
                <span class="flex flex-column gap-2 text-color-white mb-2">
                    <label>Event name</label>
                    <input pInputText/>
                </span>
                <span class="flex flex-column gap-2 text-color-white mb-2">
                    <label>Event date</label>
                    <p-calendar [showIcon]="true" icondisplay="true" [showTime]="true" [hourFormat]="'12'" [(ngModel)]="eventDate"></p-calendar>
                </span>
            </div>

            <p-button [routerLink]="'/app/dashboard'" [style]="{background: 'white', color: 'var(--primary-color)'}" label="Create event" icon="pi pi-arrow-right" iconPos="right"></p-button>
        </div>
    </div>
</div>
