
<p-messages severity="warn">
    <ng-template pTemplate>
        <img src="favicon.ico" alt="TBD icon" width="32" />
        <div class="ml-2">
            <ul>
                <li>Forms are things that vendors/customers can fill out need to fill out.</li>
                <li>Currently only used by vendors when adding an item to their store.</li>
                <li>Forms are generic and can be user referenced anywhere in the customer and vendor application.</li>
                <li>Be careful when deleting forms. there could associated Form Entries that might get deleted too.</li>
            </ul>
        </div>
    </ng-template>
</p-messages>
<p-splitter
    [panelSizes]="[30, 70]"
    styleClass="mb-5"
    [style]="{ height: '80%' }">
    <ng-template pTemplate>
        <div class="col">
            <div class="flex w-full justify-content-between">
                <h4>Forms</h4>
                <button  pButton pRipple label="Add" icon="pi pi-plus" class="mb-3" (click)="createNew()"></button>
            </div>
            <p-listbox
                *ngIf="forms.length > 0; else noForms"
                [options]="forms"
                [(ngModel)]="selectedForm"
                optionLabel="name"/>
        </div>
    </ng-template>
    <ng-template pTemplate>
        <ng-container *ngTemplateOutlet="selectedFormTemplate; context: {$implicit: selectedForm, isTop: true }" ></ng-container>
    </ng-template>
</p-splitter>


<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<ng-template #noForms>
    You have forms configured.
</ng-template>

<ng-template #selectedFormTemplate let-form let-isTop="isTop">
    <div class="card p-4 w-full" *ngIf="form" [ngClass]="{'mb-4': !isTop}">
        <div class="flex gap-2 justify-content-end" *ngIf="isTop">
            <button [disabled]="!form || !form.name" pButton pRipple label="Save" icon="pi pi-check" class="flex mb-3 align-self-end" (click)="addOrUpdate()"></button>
            <p-button *ngIf="form.id" icon="pi pi-trash" [text]="true" severity="danger" (onClick)="deleteConfirmation()"></p-button>
        </div>

        <label class="block text-900 font-medium text-xl my-2">Form Name</label>
        <input type="text" [(ngModel)]="form.name" pInputText class="w-full mb-5" style="padding:1rem"/>

        <label class="block text-900 font-medium text-xl my-2">Description</label>
        <p-editor [(ngModel)]="form.description" [style]="{ height: '220px' }" class="w-full mb-5"></p-editor>

        <label class="block text-900 font-medium text-xl my-2">Form Type</label>
        <div class="flex gap-3">
            <div *ngFor="let type of formTypes" class="field-checkbox">
                <p-radioButton
                    [disabled]="!isTop"
                    [value]="type"
                    [(ngModel)]="form.itemType"
                    (ngModelChange)="rootFormItemTypeChanged()"/>
                <label class="ml-2">
                    {{ ItemTypeLabelRecord[type] }}
                </label>
            </div>
        </div>

        <label class="block text-900 font-medium text-xl my-2">Form Level</label>
        <div class="flex gap-3">
            <div *ngFor="let level of formLevels" class="field-checkbox">
                <p-radioButton
                    [disabled]="!isTop"
                    [value]="level"
                    [(ngModel)]="form.formLevel"
                    (ngModelChange)="rootFormLevelChanged()"/>
                <label class="ml-2">
                    {{ FormLevelLabelRecord[level] }}
                </label>
            </div>
        </div>
        <label class="block text-900 font-medium text-xl my-2">Item category</label>
        <p-dropdown
            [disabled]="!isTop"
            [options]="itemCategories"
            [(ngModel)]="form.itemCategory"
            optionLabel="name"
            [placeholder]="'Select a category'"
            (ngModelChange)="rootFormItemCategoryChanged()">
        </p-dropdown>
        <p-divider />
        <p-accordion [activeIndex]="1" class="w-full">
            <p-accordionTab>
                <ng-template pTemplate="header">
                    <div class="flex w-full justify-content-between align-items-center">
                        <div class="text-2xl">Fields</div>
                        <p-badge *ngIf="form.fields" [value]="form.fields.length.toString()" class="ml-2 mr-2" />
                    </div>
                </ng-template>
                <div class="flex w-full justify-content-end mb-2">
                    <button  pButton pRipple label="Add field" icon="pi pi-plus"  (click)="createNewField(form)"></button>
                </div>
                <div *ngFor="let field of form.fields">
                    <div class="card mb-2">
                        <label class="block text-900 font-medium text-xl my-2">Label</label>
                        <input type="text" [(ngModel)]="field.label" pInputText class="mb-5" style="padding:1rem"/>

                        <label class="block text-900 font-medium text-xl my-2">Placeholder</label>
                        <input type="text" [(ngModel)]="field.placeholder" pInputText class="mb-5" style="padding:1rem"/>

                        <label class="block text-900 font-medium text-xl my-2">Type</label>
                        <p-dropdown
                            [options]="fieldTypes"
                            [(ngModel)]="field.type"
                            [placeholder]="'Select a type'">
                            <ng-template pTemplate="selectedItem">
                                <div>{{ field.type == FieldType.STRING ? 'STRING' : getFieldTypeLabel(field.type) }}</div>
                            </ng-template>
                            <ng-template let-type pTemplate="item">
                                <div>{{ getFieldTypeLabel(type) }}</div>
                            </ng-template>
                        </p-dropdown>

                        <div class="flex align-items-center gap-1">
                            <label class="block text-900 font-medium text-xl my-2">Required</label>
                            <p-checkbox [(ngModel)]="field.required" [binary]="true" />
                        </div>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
        <p-accordion *ngIf="isTop" [activeIndex]="1" class="w-full">
            <p-accordionTab>
                <ng-template pTemplate="header">
                    <div class="flex w-full justify-content-between align-items-center">
                        <div class="text-2xl">Sub Forms</div>
                        <p-badge *ngIf="form.subForms" [value]="form.subForms.length.toString()" class="ml-2 mr-2" />
                    </div>
                </ng-template>
                <button  pButton pRipple label="Add" icon="pi pi-plus" class="mb-3" (click)="createNewSubForm(form)"></button>

                <div *ngFor="let subForm of form.subForms">
                    <ng-container *ngTemplateOutlet="selectedFormTemplate; context: {$implicit: subForm, isTop: false }" ></ng-container>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
</ng-template>


